@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(249 250 251);
    /* bg-gray-50 */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #4f4f4f
}

.todo {
  padding: 40px 25px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
}

.todo__title {
  font-size: 20px;
  font-weight: bold;
}

.todo__subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.todo__form {
  display: grid;
  gap: 16px;
}

.todo__editor {
  display: flex;
  gap: 8px;
}

.todo__input {
  width: 100%;
  height: 44px;
  padding: 13.5px 16px;
  font-size: 14px;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  border-radius: 8px;
}

.todo__input::placeholder {
  color: #acacac;
}

.todo__button {
  width: 77px;
  color: white;
  background-color: #4f4f4f;
  border-radius: 8px;
  flex-shrink: 0;
  border: none;
}

;

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 0 15px;
  background-color: rgba(53, 56, 62, 0.05);
  border: 1px solid#4f4f4f;
  flex-shrink: 0;
  font-size: 15px;

}

.todo__item--empty {
  text-align: center;
}

.todo__item--empty .todo__text--empty {
  width: 100%;
}

.todo__item--complete label {
  text-decoration: line-through;
}

.todo__checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 220px;
}

.todo__checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  background-color: white;
}
.todo__checkbox:checked {
  background-image: url("./assets/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.todo__modify-input {
  width: 220px;
  height: 24px;
}
.todo__button-group {
  display: flex;
  gap: 8px;
}
.todo__action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
}